<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container">

        <div class="card my-2" th:each="employer : ${employers}">
            <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3" >
                <h5 th:text="*{employer.name}" ></h5>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/employer-manager/update(id=*{employer.id})}"><i class="fa-solid fa-file-pen"></i>Update</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/project-manager/list(id=*{employer.id})}"><i class="fa-solid fa-circle-info"></i>Detailed Information</a>
                    </div>
                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/employer-manager/delete(id=${employer.id})}">
                        <span style="color: red" >
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                        Delete
                    </a>
                </div>
            </div>

            <div class="card-body" >
                <div class="row">
                    <div class="col border-end">
                        <h7 class="card-title" > Address: </h7>
                        <a th:href="@{/addressEr/create(id=*{employer.id})}">
                            <i class="fa-solid fa-square-plus"></i>
                        </a>

                            <p class="card-text">

                                <div th:each="addresses : ${employer.address}">
                                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                                        <h5 class="fw-bold pt-2" th:text="*{addresses.name}"></h5>
                                        <div class="btn-group btn-group-sm" role="group">

                                            <a type="button" class="btn btn-outline-secondary" th:href="@{/addressEr/update(id=*{addresses.id})}"><i class="fa-solid fa-file-pen"></i></a>
                                            <a type="button" class="btn btn-outline-secondary" th:href="@{/addressEr/delete(id=*{addresses.id})}"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </div>

                                    <div th:text="|*{addresses.street} *{addresses.buildingNumber}/*{addresses.flatNumber}|"></div>
                                    <div th:text="|*{addresses.postalCode} *{addresses.city}, *{addresses.country}|"></div>
                                 </div>
                            </p>
                    </div>
                        <div class="col">
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|NIP: |"></span><span th:text="*{employer.nip}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|E-mail: |"></span><span th:text="*{employer.email}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|Description: |"></span><span th:text="*{employer.description}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|Notes: |"></span><span th:text="*{employer.notes}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|Badge Color: |"></span><span th:text="*{employer.badgeColor}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pt-2" th:text="|Work in progres: |"></span><span th:text="*{employer.active}"></span>
                            </div>


                        </div>
                    <div class="col">
                        <div class="col">
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|All Task count: |"></span><span th:text="*{employer.nip}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|Average Time Per Task: |"></span><span th:text="*{employer.email}"></span>
                            </div >
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|Tasks in progres: |"></span><span th:text="*{employer.description}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|Project count: |"></span><span th:text="*{employer.notes}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|Invoices: |"></span><span th:text="*{employer.badgeColor}"></span>
                            </div>
                            <div class="py-1">
                                <span class="fw-bold pe-2" th:text="|Compensation with all Projects: |"></span><span th:text="*{employer.active}"></span>
                            </div>


                        </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

</body>
</html>