<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

   <h3 th:text="${EmployerManagerGet.name}"></h3>

   <div class="card my-2" th:each="projectfromlist : ${ProjectsList}">
      <div class="card-header d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3" >
         <h5 th:text="*{projectfromlist.name}" ></h5>
         <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
               <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/projects/update(id=*{projectfromlist.id})}"><i class="fa-solid fa-file-pen"></i>Update</a>
               <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/projects/get(id=*{projectfromlist.id})}"><i class="fa-solid fa-circle-info"></i>Detailed Information</a>
            </div>
            <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/projects/delete(id=${projectfromlist.id})}">
                        <span style="color: red" >
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
               Delete
            </a>
         </div>
      </div>

      <div class="card-body">
         <div class="row">
         <div class="col">
            <div th:text="|Description: *{projectfromlist.description}|"></div>
            <div th:text="|Color: *{projectfromlist.color}|"></div>
            <div th:text="|Active Project? : *{projectfromlist.activeProject}|"></div>
            <div th:text="|Hour Price: *{projectfromlist.hourPrice}|"></div>
         </div>
         <div class="col">
         <div>
            <div th:each="tasksfromlist : ${projectfromlist.tasks}">
               <div th:text="|*{tasksfromlist.name}, START: *{#temporals.format(tasksfromlist.dateEnd, 'dd-MM-yyyy    HH:mm:ss')}, END: *{#temporals.format(tasksfromlist.dateEnd, 'dd-MM-yyyy    HH:mm:ss')}. |"></div>
            </div>
         </div>
         </div>
         </div>
      </div>
      <div class="card-footer text-muted">
      </div>
   </div>


</div>

</body>
</html>