<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container py-1">

        <h2>Employer:</h2>
        <form th:method="POST" th:action="@{/employer-manager/update(id=${updateManagerEmployer.id})}" th:object="${updateManagerEmployer}">
            <div class="form-group" hidden>
                <label for="id">Id</label>
                <input id="id" class="form-control" type="text" th:field="*{id}" hidden>
            </div>
            <div class="form-group">
                <label for="name">Name: </label>
                <input id="name" class="form-control" type="text" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input id="description" class="form-control" type="text" th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <input id="notes" class="form-control" type="text" th:field="*{notes}">
            </div>
            <div class="form-group">
                <label for="nip">NIP: </label>
                <input id="nip" class="form-control" type="text" th:field="*{nip}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="text" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="email">Phone number:</label>
                <input id="phone" class="form-control" type="text" th:field="*{phone}">
            </div>
            <div class="form-check py-2">
                <label for="active">Active Project? </label>
                <input id="active" class="form-check-input" type="checkbox" th:field="*{active}">
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Save">
                <input onclick='javascript:window.history.back()' value='Cancel' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>

    </div>



</div>


</body>
</html>