<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <body>
    <div class="container">
        <h2>Project: [[${deleteProject.name}]]</h2>
        <form th:method="POST" th:action="@{/projects/delete}" th:object="${deleteProject}">
            <div>
                Do you want to delete Project?
            </div>
            <div class="form-group">
                <input type="number" th:field="*{id}" hidden>
                <input type="submit" class="form-control btn btn-danger" value="Yes" th:href="@{/projects/list/(id=${deleteProject.employerDomain.id})}">
                <input onclick='javascript:window.history.back()' value='No' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>
    </div>
    </body>
</div>


</body>
</html>