<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container py-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Project Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${projects}">

                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td>
                    <div class="btn-group me-2">
                        <a type="button" class="btn btn btn-outline-secondary" th:href="@{/tasks/list2(id=${project.id})}">
                            <span style="color: green" >
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </span>
                            Open
                        </a>
                        <a type="button" class="btn btn btn-outline-secondary" th:href="@{/projects/delete(id=${project.id})}">
                            <span style="color: red" >
                                <i class="fa-solid fa-trash-can"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>
</html>