<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">
    <div class="container py-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Project Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">

                <td th:text="${task.name}"></td>
                <td th:text="${#temporals.format(task.dateStart, 'dd-MM-yyyy    HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(task.dateEnd, 'dd-MM-yyyy    HH:mm:ss')}"></td>
                <td th:text="${task.projectDTO.name}"></td>
                <td>
                    <div class="btn-group me-2">
                        <a type="button" class="btn btn btn-outline-secondary" th:href="@{/tasks/update(id=${task.id})}">
                            <span style="color: blue" >
                                <i class="fa-solid fa-file-pen"></i>
                            </span>
                            Update
                        </a>
                        <a type="button" class="btn btn btn-outline-secondary" th:href="@{/tasks/delete(id=${task.id})}">
                            <span style="color: red" >
                                <i class="fa-solid fa-trash-can"></i>
                            </span>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>