<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container">

        <h2>Address:</h2>
        <form th:method="POST" th:action="@{/addressEr/create}" th:object="${newAddress}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" class="form-control" type="text" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="street">street:</label>
                <input id="street" class="form-control" type="text" th:field="*{street}">
            </div>
            <div class="form-group">
                <label for="buildingNumber">buildingNumber:</label>
                <input id="buildingNumber" class="form-control" type="text" th:field="*{buildingNumber}">
            </div>
            <div class="form-group">
                <label for="flatNumber">flatNumber:</label>
                <input id="flatNumber" class="form-control" type="text" th:field="*{flatNumber}">
            </div>
            <div class="form-group">
                <label for="postalCode">postalCode:</label>
                <input id="postalCode" class="form-control" type="text" th:field="*{postalCode}">
            </div>
            <div class="form-group">
                <label for="city">city:</label>
                <input id="city" class="form-control" type="text" th:field="*{city}">
            </div>
            <div class="form-group">
                <label for="country">country:</label>
                <input id="country" class="form-control" type="text" th:field="*{country}">
            </div>
            <div class="form-group">
                <label th:for="employerDTO.id">EmployerId</label>
                <input class="form-control" type="number"
                       th:id="employerDTO.id"
                       th:name="employerDTO.id"
                       th:value="${idOfEmployer.intValue()}" >
            </div>



            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Stwórz">
                <input onclick='javascript:window.history.back()' value='Anuluj' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>

    </div>



</div>


</body>
</html>