<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <body>
    <div class="container">
        <h2>Task:</h2>
        <form th:method="POST" th:action="@{/task-manager/delete(idOfProject=${idOfProject})}" th:object="${deleteTask}">
            <div>
                Czy jesteś pewnien że chcesz usunąć Zadanie ?
            </div>
            <div class="form-group">
                <input type="number" th:field="*{id}" hidden>

                <input type="submit" class="form-control btn btn-danger" value="Tak" >
                <input onclick='javascript:window.history.back()' value='Nie' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>
    </div>
    </body>
</div>


</body>
</html>