<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Task</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
            </tr>
            </thead>
            <tbody>




            </tbody>
        </table>

    </div>



</div>


</body>
</html>