<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">
    <link rel="stylesheet" th:href="@{/dist/bootstrap-duallistbox.css}" >
    <script th:src="@{/dist/jquery.bootstrap-duallistbox.js}"></script>

    <div class="container">
        <form th:action="@{/invoice-entry/create(idOfInvoice=${idOfInvoice})}" th:method="POST" th:object="${newInvoiceEntry}">
            <div class="my-3">
                <a type="button" class="btn btn-sm btn-outline-secondary" onclick='javascript:window.history.back()'><i class="fa-solid fa-file-pen"></i>Go Back</a>
                <button type="submit" class="btn btn-sm btn-outline-secondary "><i class="fa-solid fa-floppy-disk"></i>Save</button>
            </div>
            <div class="form-group">
                <label for="name" class="col-form-label">Name of Entry: </label>
                <input id="name" class="form-control" type="text" th:field="*{name}">
            </div>
            <div class="form-group" hidden>
                <label th:for="invoice.id">invoice ID</label>
                <input class="form-control" type="text"
                       th:id="invoice.id"
                       th:name="invoice.id"
                       th:value="${idOfInvoice}" >
            </div>
            <div class="row pt-3">
                <h4 class="col"> List of available Tasks to choose:</h4>
                <h4 class="col"> Selected task to form one row of Service in Invoice:</h4>
            </div>

            <select  th:field="${newInvoiceEntry.idsOfTasks}" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" multiple id="selectBox">

                <option  th:each = "tasks: ${listOfTasks}" th:value="${tasks.id}" th:text="|${tasks.name} in  ${tasks.projectDTO.name} |"></option>

            </select>

            <script>
                $('#selectBox').bootstrapDualListbox();
            </script>





        </form>

    </div>

</div>

</div>

</body>
</html>