<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <div class="container py-2">
        <h2>New Profile:</h2>
        <form th:method="POST" th:action="@{/personalInfo/create}" th:object="${newEmployee}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" class="form-control" type="text" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="nip">Profile Description:</label>
                <input id="description" class="form-control" type="text" th:field="*{description}">
            </div>
            <div class="form-group">
                <label for="nip">NIP:</label>
                <input id="nip" class="form-control" type="text" th:field="*{nip}">
                <div th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="vat">VAT for Invoice:</label>
                <input id="vat" class="form-control" type="number" min="0" step="1"  max="32" th:field="*{vat}">
                <div th:if="${#fields.hasErrors('vat')}" th:errors="*{vat}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="currency">Currency for Invoice:</label>
                <input id="currency" class="form-control" type="text" th:field="*{currency}">
                <div th:if="${#fields.hasErrors('currency')}" th:errors="*{currency}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="nip">Email:</label>
                <input id="email" class="form-control" type="text" th:field="*{email}">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="nip">Phone:</label>
                <input id="phone" class="form-control" type="text" th:field="*{phone}">
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="email">Bank Iban</label>
                <input id="bankIban" class="form-control" type="text" th:field="*{bankIban}">
                <div th:if="${#fields.hasErrors('bankIban')}" th:errors="*{bankIban}" class="alert alert-danger"></div>
            </div>
            <div class="form-group">
                <label for="email">Bank Number</label>
                <input id="bankNumber" class="form-control" type="text" th:field="*{bankNumber}">
                <div th:if="${#fields.hasErrors('bankNumber')}" th:errors="*{bankNumber}" class="alert alert-danger"></div>
            </div>
            <div class="form-group py-2">
                <input type="submit" class="form-control btn btn-primary" value="Save">
                <input onclick='javascript:window.history.back()' value='Cancel' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>
    </div>
</div>


</body>
</html>