<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{partials/layout :: template (~{:: .container1})}">
<head>
</head>
<body>

<div class="container1">

    <body>
    <div class="container">
        <h2>Profile: [[*{description}]]</h2>
        <form th:method="POST" th:action="@{/personalInfo/delete}" th:object="${deleteEmployee}">
            <div>
                Do You want to delete Profile?
            </div>
            <div class="form-group">
                <input type="number" th:field="*{id}" hidden>
                <input type="submit" class="form-control btn btn-danger" value="Yes">
                <input onclick='javascript:window.history.back()' value='No' type='button' class="form-control btn btn-secondary" />
            </div>
        </form>
    </div>
    </body>
</div>


</body>
</html>